<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="white">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <!--<span><img src="./assets/devglan.png"></span>-->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="custom-sidenav-container" style="height:100vh;">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
	<li class="nav-item">
        <a mat-list-item routerLink="/">Home</a>
    </li>
	<li *ngIf="!auth.isLoggedIn()" class="nav-item">
      <a mat-list-item routerLink='/login'>Login</a>
	</li>
	<li *ngIf="!auth.isLoggedIn()" class="nav-item">
      <a mat-list-item routerLink='/register'>Register</a>
	</li>
	<li *ngIf="auth.isLoggedIn()" class="nav-item">
	  <a mat-list-item routerLink='/profile'>{{ auth.getUserDetails()?.identity.first_name }}</a>
	</li>
	<li *ngIf="auth.isLoggedIn()" class="nav-item">
	  <a mat-list-item routerLink='' (click)="auth.logout()">Logout</a>
	</li>
	<li *ngIf="auth.isLoggedIn()" class="nav-item">
	  <a mat-list-item routerLink='/install'>Install</a>
	</li>
    </mat-nav-list>
  </mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
