<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">PROFILE</h1>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Fist Name</td>
		<td>{{ this.auth.getUserDetails().identity.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
		<td>{{ this.auth.getUserDetails().identity.last_name }}</td>
      </tr>
      <tr>
        <td>Email</td>
			<td>{{ this.auth.getUserDetails().identity.email }}</td>
        <!--<td>{{ details?.identity.email }}</td>-->
      </tr>
    </table>
  </div>
</div>