<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="install()">
        <h1 class="h3 mb-3 font-weight-normal">Command window</h1>
        <div class="form-group">
          <label for="cmd">Please input command</label>
          <input type="cmd" class="form-control" name="cmd" placeholder="Enter cmd" [(ngModel)]="command.cmd">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Take</button>
      </form>
	  <p></p>
	  <h5>{{this.win}}</h5>
    </div>
  </div>
</div>
